
body{
   font-size: 16px;
   background-color: hsl(275, 100%, 97%);
}

#uniquifier{
   font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.image{
   background-image: url(background-pattern-desktop-FAQ\ accordion.svg);
   height: 50%;
   background-position: top;
}
.header{
   font-weight: 700;
   
}
.tittle{
   font-weight: 600;
}
.main{
   height: 360px;
   width: 450px;
   border: 1px solid black;
   border: none;
   border-radius: 10px;
   background-color: white;
   margin-left: 400px;
   margin-top: -85px;
 
   
   
   
}
.content{
   padding-top: 20px;
}
.list{
   font-weight: 600;
   padding-top: 20px;
   column-gap: 20%;
}
#icon{
   float: inline-end;
}

@media all and (max-width:780px) and (min-width:401px){
   .main{
      width: 90%;
      height: 70%;
   }
   .list{
      column-gap: 20%;
   }
   .main{
      height: 360px;
      width: 450px;
      border: 1px solid black;
      border: none;
      border-radius: 10px;
      background-color: white;
      margin-left: 400px;
      margin-top: -85px;
    
      
      
      
   }

}
@media (max-width:400px){
.main{
   width: 90%;
   height: 60%;
}
.list{
   column-gap: 20%;
}
}